div .eqnbox{
    font-size: 36pt;
    border: 10px white solid;
    border-radius: 40px;
}

.graph {
    data-background-size: contain;
}
.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.axis text{
    fill: #fff;
    font: 14px sans-serif;
}

.dot {
  stroke: none;
}
